body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.response {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    word-wrap: break-word; /* Ensure long links break and wrap within the container */
}

/* Success and error styles */
.response.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.response.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
h1 {
    text-align: center;
    font-size: 24px;
}
h2 {
    text-align: center;
    font-size: 21px;
}
p {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}
input[type="text"], input[type="email"], input[type="number"] {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select option:disabled {
    color: grey;
}
/* Ensure the color changes back to black when a valid option is selected */
select:not(:disabled):not(:checked) option {
    color: black;
}
button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}
button:hover {
    background-color: #218838;
}
.response {
    text-align: center;
    margin-top: 20px;
    display: none;
}
.response.success {
    color: #28a745;
}
.response.error {
    color: #dc3545;
}
