/* Reset default margins and paddings */
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b6ecbe; /* Pastel green background */
    position: relative;
}

/* Style for the content container */
.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px;
    z-index: 1;
}
.logo {
    position: absolute;
    width: 100%; /* Ensure the logo container is wide enough */
    height: 100%; /* Ensure the logo container is tall enough */
    transform: translate(-50%, -50%);
    z-index: 0; /* Ensure logo is behind content */
    opacity: 0.15; /* Make the logo transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 20s linear infinite; /* Rotating animation */ 
}

/* Style for the rotating logo */
.logo img{
    width: 700px; /* Adjust size as needed */
    height: auto;    
}

/* Keyframes for rotating the logo */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #3d6cca;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}
button:hover {
    background-color: #1e53be;
}

.ticket-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.label {
    flex: 1;
    text-align: left;
    font-style: italic;
}

.value {
    flex: 1;
    text-align: right;
    font-weight: bold;
}

.separator_line {
    content: "";
    background-color: rgba(0, 0, 0, 0.294);
    position: relative;
    width: 100%;
    height: 1px;
    top: 10px;
    bottom: 5   px;
    display: block;
  }