<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biljettbeställning</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login_register.css') }}">
</head>
<body>
    <div class="container">
        <h2>Byt ditt lösenord:</h2>
        <form method="post" action="">
            {{ form.hidden_tag() }}
            {{ form.current_password(class_ = "input") }}
            {% for error in form.current_password.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
            {{ form.new_password(class_ = "input") }}
            {% for error in form.new_password.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
            {{ form.new_password2(class_ = "input") }}
            {% for error in form.new_password2.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
            {{ form.submit(class_ = "button") }}
        </form>
        <div class="separator"></div>
        <button onclick="window.location.href='{{ url_for('main.dashboard') }}';" class="button">Tillbaka till framsidan</button>
    </div>
</body>