<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biljettbeställning</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='order_ticket.css') }}">
</head>
<body>
    <div class="container">
        <h1 id="container-header-1">Akademens och Lyrans biljettbeställning</h1>
        <p id="container-instructions">
            Fyll i ditt namn, din epost-address, köparens namn och hur många biljetter hen vill ha. Du kan bara beställa biljetter åt en kund, för en konsert, och högst {{ max_tickets }} biljetter åt gången.
        </p>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.buyername(class_ = "input") }}
            {{ form.concert(class_ = "select") }}
            {{ form.number_of_tickets(class_ = "input") }}
            {{ form.submit(class_ = "button") }}
        </form>
    </div>
</body>
</html>
