<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viev Ticket</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>
    <div class="container">
        {% if succeeded %}
        <h2> Lösenord bytt! </h2>
        <button onclick="window.location.href='{{ url_for('main.dashboard') }}';" class="button">Tillbaka till framsidan.</button>
        {% else %}
        <h2>Något gick fel.</h2>
        <button onclick="window.location.href='{{ url_for('main.dashboard') }}';" class="button">Tillbaka till framsidan.</button>
        {% endif %}
    </div> 
</body>