<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skapa användare</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login_register.css') }}">
</head>
<body>
    <div class="container">
    <h2>Skapa en användare här:</h2>
    <form method="post" action="">
        {{ form.hidden_tag() }}
        {{ form.first_name(class_ = "input") }}
        {% for error in form.first_name.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        {{ form.last_name(class_ = "input") }}
        {% for error in form.last_name.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        {{ form.email(class_ = "input") }}
        {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        {{ form.username(class_ = "input") }}
        {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        {{ form.password(class_ = "input") }}
        {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        {{ form.password2(class_ = "input") }}
        {% for error in form.password2.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        {{ form.submit(class_ = "button") }}
    </form>
    <div class="separator"></div>
    <h3>Har du redan ett konto?</h3>
    <button onclick="window.location.href='{{ url_for('auth.login') }}'" class="button">Logga in</button>
</div>
</body>