<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biljettbeställning</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='view-all-tickets.css') }}">
</head>
<body>
    <div class="container">
        <h1> {{ user.username }}s biljetter</h1>
        <button onclick="window.location.href='{{ url_for('main.dashboard') }}';" class="button-back">Tillbaka till framsidan.</button>
        <table>
            <thead>
                <tr>
                    <th>Beställare</th>
                    <th>Konsert</th>
                    <th>Antal biljetter</th>
                    <th>Länk</th>
                    <!-- Add more columns as needed -->
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.buyer_name }}</td>
                        <td>{{ ticket.concert }}</td>
                        <td>{{ ticket.num_tickets }} - Använda: {{ticket.times_used}}/{{ ticket.num_tickets }}  </td>
                        <td>
                            <a href="http://localhost:5000/view_ticket/{{ ticket.transaction_hmac }}">Visa biljett</a>
                            <button class="button-copy" onclick="copyToClipboard('http://localhost:5000/view_ticket/{{ ticket.transaction_hmac }}', this)">Kopiera</button>
                        </td>
                        <!-- Add more columns as needed -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function copyToClipboard(link, button) {
            const el = document.createElement('textarea');
            el.value = link;
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            document.body.removeChild(el);

            button.innerText = "Kopierad"
            button.classList.add("button-copied")
            button.classList.remove("button-copy")
            setTimeout(() => {
                button.innerText = 'Kopiera';
                button.classList.remove("button-copied")
                button.classList.add("button-copy")     
            }, 2000); // Change text back after 2 seconds
        }
    </script>
</body>