<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viev Ticket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<div class="view_ticket" id="ticket_view_div">
    <p>Kund: {{ buyerName }},</p>
    <p>Korist: {{ sellerName }},</p>
    <p>Konsert: {{ concert }},</p>
    <p>Antal biljetter: {{ numTickets }},</p>
    <p>Giltig: {{ ticketValid }},</p>
    <p>Använd {{ timesUsed }} gånger.</p>
</div>
